.btn-group-xs > .btn, .btn-xs {
  padding: .40rem .40rem;
  font-size: .8rem;
  line-height: .5;
  border-radius: .2rem;
}

.navitems{
    grid-area: navbar;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 13.5rem;
    text-decoration: none;
}
.navbar-dark{
  color: 	#D3D3D3;
  text-decoration: none;
  }
  .navbar-dark:hover{
    color: whitesmoke;
    text-decoration: none;
    
    }
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200 px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-y: visible; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.wrapper {
  display: flex;
  justify-content: center;
}

footer { 
  flex: 0 0 auto;
  display: flex;
  color: #ccc;
  margin: 1em;
  padding: 1em;
  width: 80%;
  border-top: 1px solid blue;
  justify-content: center;
}

.table-text {
  color: red;
  font-weight: bold;
}
body {
  background: url('./mars.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.body-tabs {
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 4px;
  grid-auto-flow: column;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.column {
  float: left;
  position: relative;
  height: 50px;
  width: 50%;
  margin-left: 350px;
  margin-bottom: 100px;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  size:10rem;
  text-align: center;
  background-color:rgb(248, 248, 185);
  text-decoration: none;
  
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 1);
}
.card a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.fa-user-circle,.fa-bookmark,.fa-calendar,.fa-bullhorn,.fa-check-circle,.fa-paper-plane-o,.fa-folder {
  font-size: 2rem;
}
.fa-google{
  color:white;
  background-color: black;
  border-radius: 50%; 
}
.google-bag{
  color: black;
  height: 600px;
  width: 400px;
  border-radius: 20px;
  background-color: whitesmoke;
  background-blend-mode:exclusion;
  opacity: 80%;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 5rem;
}

.g-signin2{
  opacity: 100%;
  align-items: center;
  margin-left: 8.5rem;
  height: 15rem;
  align-content: center;
  text-align: center;
  padding-top: 10rem;

}
.mt-3 .fa-user-circle,.fa-user-plus{
  text-decoration: none;
  font-size: inherit;
} 
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}
.login-button{
border:0;
background: black;
display:block;
margin: 20px auto;
text-align: center;
border:2px solid green;
padding:14px 20px;
width:100px;
outline:none;
color:white;
border-radius: 24px;
transition:0.25s;
cursor : pointer;
}
.login-button:hover{
  background: green;
}
.form-control{
  border:0;
  background: whitesmoke;
  display:block;
  margin: 10px auto;
  text-align: center;
  border:2px solid skyblue;
  padding:14px 10px;
  width:300px;
  outline:none;
  color:rgb(39, 39, 39);
  border-radius: 24px;
  transition:0.25s;
  cursor: pointer;
}
.form-control:focus{
  width:400px;
  border-color:green;
}
.submit-button{
  border:0;
background: black;
display:block;
margin: 20px auto;
text-align: center;
border:2px solid green;
padding:14px 20px;
width:100px;
outline:none;
color:white;
border-radius: 24px;
transition:0.25s;
cursor : pointer;
}
.submit-button:hover{
  background: green;
}
.reset-button{
  border:0;
background: black;
display:block;
margin: 20px auto;
text-align: center;
border:2px solid green;
padding:14px 20px;
width: 150px;
outline:none;
color:white;
border-radius: 24px;
transition:0.25s;
cursor : pointer;
}
.reset-button:hover{
  background: green;
}
.reset-user{
  margin-left: 850px;
  font-weight:bolder;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  font-family: Averia Serif Libre, serif;
  
}
.reset-block{
  padding-top: 250px;
}
.navitems img{
  border-radius: 50%;
  margin-right: 10px;
}