<%- include('partials/header') %>
    <body style="padding: 0;">
        
        <div class="container-fluid" style="padding: 0; margin: 0;">
            <div class="header-container">
                <img class="header-image" src="https://www.amrita.edu/sites/default/files/logo.png">
                <!-- https://www.pngitem.com/pimgs/m/539-5392274_amrita-university-logo-hd-png-download.png -->
                <h1 class="header-text">Faculty Dashboard</h1>
            </div>
        </div>


<%- include('partials/alerts') %>
             
        <div class="container login-container">
            <div class="row">
                <div class="col-md-3 mx-auto text-center p-4 login-signup">

                    <h3 class="h3-login">Login / Sign Up</h3>
                    <hr class="hr-login">
                     <div class="mt-3 signup-buttons">
                        <a href="/auth/user-login" class="btn btn-block btn-custom"><i class="fa fa-user-circle "></i> User Login</a>
                    </div>
                    
                     <div class="mt-3 signup-buttons">
                        <a href="/auth/user-signup" class="btn btn-block btn-custom"><i class="fa fa-user-plus"></i> User Sign Up</a>
                    </div>

                    <div class="mt-3 signup-buttons">
                        <a href="/auth/user-gsignup" class="btn btn-block btn-custom"><i class="fa fa-google"></i> Google Support</a>
                    </div>


                </div>
            </div>
        </div>

    </body>
       
<%- include('partials/footer') %>