<div class="card-block">
    <form class="p-3" action="/auth/user-fpass" method="POST">
      <div class="form-group">
        <label class="form-control-label">Username</label>
        <input type="text" name="email" placeholder="Enter your email id" class="form-control">
      </div>
      <button type="submit" class="btn btn-success btn-block">Send a reset link</button>
    </form>