<% include ../partials/header %>
<body style="padding: 0;">  
  <div class="container-fluid" style="padding: 0; margin: 0;">
      <div class="header-container">
          <img class="header-image" src="https://www.amrita.edu/sites/default/files/logo.png">
          <!-- https://www.pngitem.com/pimgs/m/539-5392274_amrita-university-logo-hd-png-download.png -->
          <h1 class="header-text">Faculty Dashboard</h1>
      </div>
  </div>

<!-- 
  <div class="container mt-5">
    <div class="row">
      <link rel="stylesheet" href="/stylesheet/app.css"> 
  <div class="container transparent-container forgotpw-container">
    <div class="row">
      <div class="col-6">
        <form class="p-3" action="/auth/user-fpass" method="POST">
          <div class="form-group forgot-form">
            <label class="reset-user" class="form-control-label">Username</label>
            <input type="text" name="email" placeholder="Enter your email id" class="form-control">
          </div>
          <button class="reset-button" type="submit" class="btn btn-success btn-block">Send a reset link</button>
        </form>
      </div>
    </div> 

  </div> 
</div>
-->

    <form class="p-3" action="/auth/user-fpass" method="POST">
      <div class="form-group">
        <label class="reset-user" class="form-control-label">Email id</label>
        <input id="email" type="text" name="email" placeholder="Enter your email id" class="form-control">
      </div>
      <button class="reset-button" type="submit" class="btn btn-success btn-block">Send a reset link</button>
    </form>

