<div class="reset-block">
  <link rel="stylesheet" href="/stylesheet/app.css"> 

  <div class="container transparent-container forgotpw-container">
    <div class="row">
      <div class="col-6">
        <form class="p-3" action="/auth/user-fpass" method="POST">
          <div class="form-group forgot-form">
            <label class="reset-user" class="form-control-label">Username</label>
            <input type="text" name="email" placeholder="Enter your email id" class="form-control">
          </div>
          <button class="reset-button" type="submit" class="btn btn-success btn-block">Send a reset link</button>
        </form>
      </div>
    </div>

  </div>
</div>
