<% include ../partials/header %>

<!--NAVIGATION BAR FOR USER-->
<% include ../partials/userNav %>

<!--DASHBOARD SECTION-->

<% include ../partials/alerts %>


<div class="body-tabs">
  <a href="#">Profile</a>
  <a href="/user/1/courses">Courses</a>
  <a href="#">Calender</a>
  <a href="#">Announcements</a>
  <a href="/user/todo">To-do app</a>
  <a href="#">Circulars</a>
  <a href="#">Newsletters</a>

</div>
  