<% include ../partials/header %>

<!--NAVIGATION BAR FOR USER-->
<% include ../partials/userNav %>

<!--DASHBOARD SECTION-->

<% include ../partials/alerts %>
<div  class="container-fluid tabs-container">
  <div class="row" style="text-align: center;">
    <div class="col-md-4 homescreen-tabs">
      <div  class="card transparent-container hm-tab"><a id="h-profile" href="/user/1/profile"><i class="fa fa-user-circle hm-tags-fa"></i>Profile</a></div>
    </div>
    <div class="col-md-4 homescreen-tabs">
      <div  class="card transparent-container hm-tab"><a id="h-courses" href="/user/1/courses"><i class="fa fa-bookmark hm-tags-fa"></i>Courses</a></div>
    </div>
    <div class="col-md-4 homescreen-tabs">
      <div class="card transparent-container hm-tab"><a id="h-calendar" href="/auth/user-cal"><i class="fa fa-calendar hm-tags-fa"></i>Calendar</a></div>
    </div>
    <div class="col-md-4 homescreen-tabs">
      <div class="card transparent-container hm-tab"><a id="h-announcements" href="https://intranet.cb.amrita.edu/"><i class="fa fa-bullhorn hm-tags-fa"></i>Announcements</a></div>
    </div>
    <div class="col-md-4 homescreen-tabs">
      <div class="card transparent-container hm-tab"><a id="h-todo" href="/auth/user-todo"><i class="fa fa-check-circle hm-tags-fa"></i>To-do app</a></div>
    </div>
    <div class="col-md-4 homescreen-tabs">
      <div class="card transparent-container hm-tab"><a id="h-circulars" href="https://amritavishwavidyapeetham-my.sharepoint.com/personal/acadcoordengg_cb_amrita_edu/_layouts/15/onedrive.aspx?originalPath=aHR0cHM6Ly9hbXJpdGF2aXNod2F2aWR5YXBlZXRoYW0tbXkuc2hhcmVwb2ludC5jb20vOmI6L2cvcGVyc29uYWwvYWNhZGNvb3JkZW5nZ19jYl9hbXJpdGFfZWR1L0VaQWsxUHZnSy1KRG9RdDFOeWd4dDBZQkZ0ZGN4UWg4WDN6N2RJVnZBdzQyb1E%5FcnRpbWU9WjRxTy05WXIyVWc&id=%2Fpersonal%2Facadcoordengg%5Fcb%5Famrita%5Fedu%2FDocuments%2FAC%20Website%2FCirculars" target="_blank" rel="noopener noreferrer"><i class="fa fa-paper-plane-o hm-tags-fa"></i>Circulars</a></div>
    </div>
    <div class="col-md-4 offset-md-4 homescreen-tabs ">
      <div class="card transparent-container hm-tab"><a id="h-news" href="/auth/user-news"><i class="fa fa-folder hm-tags-fa"></i>Newsletters</a></div>
    </div>
  </div>
  
</div>
