<% include ../partials/header %>

<!--NAVIGATION BAR FOR USER-->
<% include ../partials/userNav %>

<!--DASHBOARD SECTION-->

<% include ../partials/alerts %>

<div class="row">
  <div class="column">
    <div class="card"><i class="fa fa-user-circle"></i><a href="#">Profile</a></div>
  </div>
  <div class="column">
    <div class="card"><i class="fa fa-bookmark"></i><a href="/user/1/courses">Courses</a></div>
  </div>
  <div class="column">
    <div class="card"><i class="fa fa-calendar"></i><a href="#">Calender</a></div>
  </div>
  <div class="column">
    <div class="card"><i class="fa fa-bullhorn "></i><a href="#">Announcements</a></div>
  </div>
  <div class="column">
    <div class="card"><i class="fa fa-check-circle"></i><a href="/user/todo">To-do app</a></div>
  </div>
  <div class="column">
    <div class="card"><i class="fa fa-paper-plane-o "></i><a href="#">Circulars</a></div>
  </div>
  <div class="column">
    <div class="card"><i class="fa fa-folder "></i><a href="#">Newsletters</a></div>
  </div>
</div>