<% include ../partials/header %>

<!--NAVIGATION BAR FOR USER-->
<% include ../partials/userNav %>

<!--DASHBOARD SECTION-->

<% include ../partials/alerts %>

<div class="container-fluid tabs-container">
  <div class="row" style="text-align: center;">
    <div class="col-md-4 homescreen-tabs">
      <div class="card transparent-container hm-tab"><a href="/user/1/profile"><i class="fa fa-user-circle hm-tags-fa"></i>Profile</a></div>
    </div>
    <div class="col-md-4 homescreen-tabs">
      <div class="card transparent-container hm-tab"><a href="/user/1/courses"><i class="fa fa-bookmark hm-tags-fa"></i>Courses</a></div>
    </div>
    <div class="col-md-4 homescreen-tabs">
      <div class="card transparent-container hm-tab"><a href="#"><i class="fa fa-calendar hm-tags-fa"></i>Calender</a></div>
    </div>
    <div class="col-md-4 homescreen-tabs">
      <div class="card transparent-container hm-tab"><a href="#"><i class="fa fa-bullhorn hm-tags-fa"></i>Announcements</a></div>
    </div>
    <div class="col-md-4 homescreen-tabs">
      <div class="card transparent-container hm-tab"><a href="/auth/user-todo"><i class="fa fa-check-circle hm-tags-fa"></i>To-do app</a></div>
    </div>
    <div class="col-md-4 homescreen-tabs">
      <div class="card transparent-container hm-tab"><a href="#"><i class="fa fa-paper-plane-o hm-tags-fa"></i>Circulars</a></div>
    </div>
    <div class="col-md-4 offset-md-4 homescreen-tabs ">
      <div class="card transparent-container hm-tab"><a href="#"><i class="fa fa-folder hm-tags-fa"></i>Newsletters</a></div>
    </div>
  </div>
</div>
