<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Admindek</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">📒 Your one point place for all Notes</h1>
            <a href="/user/1/notes-newnote" class="btn btn-success float-right">New Note</a>
            <a href="/user/1/notes-new" class="btn btn-danger float-left">Back to NotesApp</a>
        </div>
    </div>
    <div class="container">
        <form action="/user/1/notes-newnote" method="POST">
            <div class="form-group">
                <label for="title">Note title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Note Title" required>
            </div>
            <div class="form-group">
                <label for="title">Description</label>
                <textarea class="form-control" name="description" rows="10" required></textarea>
            </div>
            <div class="buttons float-right">
                <a href="/user/1/notes-new" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</body>

</html>