<!DOCTYPE html>
<html>
<body>

<h2 href="/">Login attempt failed</h2>


<script>
    if (1) {
  // block of code to be executed if the condition is true
  alert("Username or Password incorrect!");
  window.location.href = "/";
}
</script>

</body>
</html>