<% include ../partials/header %>


<body style="padding: 0;">  

  <div class="container-fluid" style="padding: 0; margin: 0;">
      <div class="header-container">
          <img class="header-image" src="https://www.amrita.edu/sites/default/files/logo.png">
          <!-- https://www.pngitem.com/pimgs/m/539-5392274_amrita-university-logo-hd-png-download.png -->
          <h1 class="header-text">Faculty Dashboard</h1>
      </div>
  </div>



<section id="usersignUpForm">

  <div class="container mt-5">
    <div class="row">
      <!-- <div class="col-md-3">
        <img src="https://www.pngitem.com/pimgs/m/539-5392274_amrita-university-logo-hd-png-download.png" height="250px" style="margin-top:9px; margin-left:170px;">
      </div> -->
      <div class="col-md-6 offset-md-3">
        <div class="card transparent-container">
          <div class="card-header text-center login-card-header">
            <img class="login-image-logo" src="https://www.pngitem.com/pimgs/m/539-5392274_amrita-university-logo-hd-png-download.png">
            <h4 class="h3-login login-h4">Faculty SignUp</h4>
            <hr class="hr-login">
          </div>
            <div class="card-block">

              <form onsubmit="return validateForm()" class="p-3" action="/auth/user-signUp" method="POST">
                  
                <div class="form-group">
                  <label class="form-control-label">First Name</label>
                  <input id="fname" type="text" name="firstName" placeholder="First Name" class="form-control" required>
                </div>
                
                 <div class="form-group">
                  <label class="form-control-label">Last Name</label>
                  <input id="lname" type="text" name="lastName" placeholder="Last Name" class="form-control" required>
                </div>
                  
                <div class="form-group">
                  <label class="form-control-label">Pick a username</label>
                  <input type="text" name="username" placeholder="Username" class="form-control" required>
                </div>
                
                <div class="form-group">
                  <label class="form-control-label">Email</label>
                  <input id="email" type="email" name="email" placeholder="Email" class="form-control" required>
                </div>
                
                <div class="form-group">
                  <label class="form-control-label">Password</label>
                  <input id="password" type="password" name="password" placeholder="Password" class="form-control" required>
                </div>
                
                 <div class="form-group">
                  <label class="form-control-label">Gender</label>
                  <input list="Gender" class="form-control"  placeholder="Gender">
                  <datalist id="Gender">
                    <option value="Male">
                    <option value="female">
                    <option value="others">
                  </datalist>
                </div>
                
                 <div class="form-group">
                  <label class="form-control-label">Address</label>
                  <input type="text" name="address" placeholder="Address" class="form-control-address" required>
                </div>
                
                <button class="submit-button"type="submit" class="btn btn-warning btn-block">Submit</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>

function validateForm()
{
  var un=document.getElementById("email").value;
  var pw=document.getElementById("password").value;
  var fName=document.getElementById("fname").value;
  var lName=document.getElementById("lname").value;
  return(validateFname(fName)&&validateLname(lName)&&validateEM(un)&&validatePW(pw));
}
function validateEM(un)
{
  if(un.endsWith("@cb.faculty.amrita.edu"))
    return true;
  else if(un=="")
  {
    alert("Empty Email")
    return false;
  }
  else
  {
    alert("Not a Valid Email")
    return false;
  }
}
function validatePW(un)
{
  if(un.length>6)
    return true;
  else
  {
    alert("Password length must be greater than 6")
    return false;
  }
}
function validateFname(un)
{
  if(un.includes("0")||un.includes("1")||un.includes("2")||un.includes("3")||un.includes("4")||un.includes("5")||un.includes("6")||un.includes("7")||un.includes("8")||un.includes("9"))
  {
    alert("Not a Valid Name")
    return false;
  }
  else
    return true;
}
function validateLname(un)
{
  if(un.includes("0")||un.includes("1")||un.includes("2")||un.includes("3")||un.includes("4")||un.includes("5")||un.includes("6")||un.includes("7")||un.includes("8")||un.includes("9"))
  {
    alert("Not a Valid Name")
    return false;
  }
  else
    return true;
}

</script>

<% include ../partials/footer %>